.Tooltip {
  position: relative;
  cursor: pointer;
}

.Tooltip:hover {
  background-color: black;
}

.Tooltip:hover::before {
  content: attr(data-content);
  z-index: 1000;
  position: absolute;
  display: block;
  top: -38px;
  left: 0;
  width: auto;
  padding: 10px;
  background-color: black;
  border-radius: 3px;
  color: white;
}

.Tooltip:hover::after {
  content: "";
  display: block;
  z-index: 1000;
  position: absolute;
  width: 0;
  left: 0;
  height: 0;
  top: -6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

