
:root {
  --main-colour: #313131;
  --secondary-colour: #00EBC7;
  --error-colour: #DC143C;
  --group-one-colour: #3CB371;
  --group-two-colour: #FF69B4;
  --group-three-colour: #FF4500;
  --group-four-colour: #1E90FF;
  --group-five-colour: #FFD700;
}